html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: black;
}

canvas {
    display: block;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
}

#testCanvas {
	background: green;
}