* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  color: #222;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0;
}
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.box {
  position: absolute;
  background: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}
.react-draggable-dragged {
  z-index: 5;
}
.react-draggable-dragging {
  box-shadow: 0 0 12px #000;
}
#progress-bar {
  padding: 25px;
  background-color: #000;
}
#viz {
	background-color: green;
}
#rater {
	
}
#dash {
	background-color: olive;
}
.rater {
	text-align: center;
	margin-top: 43%;
	margin-bottom: 43%;
}
#dash-main {
	padding: 10px 0;
}
