* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
rect {
  color: white;
}
body {
  color: #222;
  /*font-family: "Helvetica Neue", sans-serif;*/
  font-weight: 200;
  margin: 0;
}
#loader {
  position: absolute;
  top: 29rem;
  width: 38rem;
  display: none;
  background-color: rgba(238,238,238,0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../images/loadingsome.gif');
}
.bold {
  font-weight: 900;
  text-decoration: underline;
}
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.heading {
  font-size: 1.15rem;
  position: relative;
  display: inline;
  font-weight: 800;
}
.box {
  position: absolute;
  background: #969696;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  margin: 0.625rem;
  padding: 0.25rem;
  text-align: center;
  font-weight: bolder;
  font-size: 0.75rem;
  word-wrap: break-word;
  line-height: 1rem;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
}
.animate {
  -webkit-animation:pop-in 0.5s;
  -moz-animation:pop-in 0.5s;
  -ms-animation:pop-in 0.5s;
}
.react-draggable-dragged {
  z-index: 5;
}
.react-draggable-dragging {
  box-shadow: 0 0 12px #000;
}
.progressbar {
  width: 100%;
  padding: 0.2rem;
  filter: none;
  -webkit-filter: opacity(50%);
  /*-webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);*/
}
.progress-bar {
  color: black;
  font-weight: bolder;
  background-color: #4FC4F6;
}
.bg-warning {
  background-color: #969696 !important;
}
.bg-danger {
  background-color: #E64C65 !important;
}
.bg-success {
  background-color: #11A8AB !important;
}
.progress {
  height: 2.75rem;
  font-size: 1.25rem;
  width: 100%;
  border-radius: 0;
}
.qname {
  position: relative;
  float: left;
  height: 2rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  background-color: #000;
  width: 100%;
  font-size: 1.25rem;
}
.active-bar {
  border: 0.3rem solid #f00;
  filter: none;
  
  /*-moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);*/
}
.active-bar-black {
  border-color: #000;
}
.main {
  position: relative;
  width: 100%;
}
.mainFocused {
  position: absolute;
  width: 100%;
}
#viz {
  overflow-y: scroll;
  padding: 0.2rem 0.4rem;
  border-bottom: 5px solid #555;
}
#rater {
	border-bottom: 5px solid #555;
}
.d3-tip {
  background-color: #555;
  padding: 1rem; 
  font-weight: 700;
  border-radius: 1rem;
}
.d3-tip:after {
  left: 42.5%;
  top: 97%;
  content: "";
  width: 0; 
  height: 0;
  position: absolute;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #555;
}
#codebook {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
textarea {
  resize: none;
}
.title, .legend, .heatmap {
  position: relative;
  display: inline-block;
  width: 80%;
  float: left;
}
.legend {
  width: 20%;
  padding-top: 0.75rem;
  padding-left: 1.5rem;
}
li.key {
  border-left-width: 3em;
  border-left-style: solid;
  /*height: 1.85rem;*/
  font-size: 0.75em;
  /*width: 10%;*/
  padding-left: 1em;
  padding-right: 0;
  padding-top: 0.75rem;
  font-weight: 700;
}
.card-section {
  width: 100%;
}
.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1em solid #000;
  background-color: #eee;
  -webkit-clip-path: circle(15rem at 50% 50%);
  clip-path: circle(15rem at 50% 50%);
  z-index: 1;
}
#cat-one {
  right: 0;
}
#cat-two {
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}
#cat-three {
  left: 0;
}
.stageHeading {
  position: absolute;
  display: inline;
  font-size: 1.5rem;
  margin: 1rem;
  border: 0.2rem solid;
  padding: 0.7rem;
  font-weight: 900;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.87);
}
.circle {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}
#part1 {
  background-color: #11A8AB;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 50%);
}

#part2 {
  background-color: #4FC4F6;
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 0 100%);
  clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 0 100%);
}

#part3 {
  background-color: #E64C65;
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 50%, 0 100%);
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 100%);
}

#part4 {
  background-color: #FFED0D;
  -webkit-clip-path: polygon(50% 50%, 0 100%, 36.6% 100%);
  clip-path: polygon(50% 50%, 0 100%, 36.6% 100%);
}

#part5 {
  background-color: #F46FDA;
  -webkit-clip-path: polygon(50% 50%, 0 36.6%, 0 100%);
  clip-path: polygon(50% 50%, 0 36.6%, 0 100%);
}

#part6 {
  background-color: #15BFCC;
  -webkit-clip-path: polygon(50% 50%, 0 36.6%, 0 0, 50% 0);
  clip-path: polygon(50% 50%, 0 36.6%, 0 0, 50% 0);
}
.hidden {
  display: none;
}
/*.question-tag {
  width: 100%;
  height: 150px;
  background: #000;
}*/
