body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee !important;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
}

#root {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  height: 1080px;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#info {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/info-symbol-vector-graphics.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: 0.5rem;
  border-radius: 5rem;
  box-shadow: 0 0 3rem #000;
}