@media only screen and (max-width: 1440px)  {
	.legend {
		padding-top: 0.2em;
	}

	.tag {
		margin-left: 0.5em;
	}

	.history-data {
		height: 90px;
	}

	.dir {
		width: 27px;
	}

	#loader {
	    top: 24.5rem;
	    width: 29rem;
	}

	.qname {
		height: 1.5em;
	}

	.progress {
		height: 1.75em;
	}

	.box {
		padding: 0.625em;
		border: 0.2em solid #000;
	}

	.stage {
		-webkit-clip-path: circle(12em at 50% 50%);
  		clip-path: circle(12em at 50% 50%);
	}

	.stageHeading {
		position: absolute;
		display: inline;
		font-size: 1em;
		margin: 0.6em;
		border: 0.1em solid;
		padding: 0.4em;
		font-weight: 700;
		border-radius: 0.6em;
		box-shadow: 0 0 0.25em 0 rgba(0,0,0,0.87);
	}

	#codebook {
		bottom: 55px;
	}
}