#viz {
	background: red;
}

#dash {
	background: orange;
}

#question {
	overflow: hidden;
}

#rater-agreement {
	background: gray;
}

#details {
}

.card {
	position: absolute;
}

button {
	margin: 0.25em;
}

#myTab {
	margin-top: 0.75em;
}

.w-97 {
	width: 97% !important;
}